// Custom styles.
body{
    background:url(/images/bg.jpg);
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-positon:center;
}

.site-meta{
    background: $blue;  //修改为自己喜欢的颜色
}